
/* Inheritance */

label {
    fontfamily: inherit;
    fontsize: inherit;
    color: inherit;
    visible: inherit;
}

tick {
    fontfamily: inherit;
    color: inherit;
    visible: inherit;
}

axis {
    fontfamily: inherit;
    fontsize: inherit;
    visible: inherit;
    range: ':';
    scale: linear;
}


line {
    visible: inherit;
}

drawline {
    visible: inherit;
}

text {
    fontfamily: inherit;
    fontsize: inherit;
    color: inherit;
    visible: inherit;
}

legend {
    linecolor: inherit;
    fontfamily: inherit;
    fontsize: inherit;
    visible: inherit;
}

/* Minor axis */

#rlabel {
    visible: false;
}

#rtick {
    visible: false;
}

#tlabel {
    visible: false;
}

#ttick {
    visible: false;
}

/* Predefined class */

.pairdash [groupid=1]{
    linetype: solid;
}
.pairdash [groupid=2]{
    linetype: dash;
}

.pairdot [groupid=1]{
    linetype: solid;
    pointtype: none;
}

.pairdot [groupid=2]{
    linetype: solid;
    pointtype: circle;
}

.paircross [groupid=2]{
    linetype: solid;
    pointtype: cross;
}

.prettycircle{
    pointtype: circle;
    pointsize: 6;
    edgewidth: 0.8;
}