
/* Inheritance */

label {
    fontfamily: inherit;
    fontsize: inherit;
    color: inherit;
    visible: inherit;
}

tick {
    fontfamily: inherit;
    color: inherit;
    visible: inherit;
}

axis {
    fontfamily: inherit;
    fontsize: inherit;
    visible: inherit;
}


line {
    visible: inherit;
}

drawline {
    visible: inherit;
}

text {
    fontfamily: inherit;
    fontsize: inherit;
    color: inherit;
    visible: inherit;
}

legend {
    linecolor: inherit;
    fontfamily: inherit;
    fontsize: inherit;
    visible: inherit;
}

/* Minor axis */

#rlabel {
    visible: false;
}

#rtick {
    visible: false;
}

#tlabel {
    visible: false;
}

#ttick {
    visible: false;
}

/* Predefined class */

.pair #line0 {
    linetype: solid;
}
.pair #line1 {
    linetype: dash;
}
.pair #line2 {
    linetype: solid;
}
.pair #line3 {
    linetype: dash;
}
.pair #line4 {
    linetype: solid;
}
.pair #line5 {
    linetype: dash;
}
.pair #line6 {
    linetype: solid;
}
.pair #line7 {
    linetype: dash;
}